Lab2Project_v0.X/build/
Lab2Project_v0.X/dist/
Lab2Project_v0.X/nbproject/private/

*.o
*.elf
*.hex
*.map
*.d
*.p1
*~
*.bak

.generated_files/
nbproject/Makefile-*.mk

*.mc3
*.yml
*.autosave
mcc-manifest-*
Makefile

.DS_Store
Thumbs.db


